{% extends 'base.html.twig' %}

{% block title %}Campeonatos{% endblock %}

{% block body %}
    <h1>{{campeonato.campeonatoNombre}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ campeonato.id }}</td>
            </tr>
            <tr>
                <th>Campeonato</th>
               <td>{{ campeonato.campeonatoNombre }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{campeonato.descripcion}}</td>
            </tr>
            <tr>
                <th>Admin</th>
               <td>{{ campeonato.admin }}</td>
            </tr>
            <tr>
                <th>Fecha Inicio</th>
                <td>{{campeonato.fechainicio|date('Y-m-d')}}</td>
            </tr>
            <tr>
                <th>Fecha Fin</th>
                <td>{{campeonato.fechafin|date('Y-m-d')}}</td>
            </tr>
            <tr>
                <th>Juego</th>
                <td>{{ campeonato.juego }}</td>
            </tr>
            
            <tr>
                <th>Participantes</th>
                {{ dump(participaciones) }}
                {% if participaciones %}
                    {% for participantes in participaciones %}
                        {% if users %}
                            {% for user in users %}
                                {#<td><ul>{{user.username}}</ul></td>#} 
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
            {#<tr>
                <th>Pruebas</th>
                <td>{{ campeonato.pruebas }}</td>
            </tr>#}
        </tbody>
    </table>
    

    <a class="btn btn-lg btn-primary" type="submit" href="{{ path('campeonatos_index') }}">back to list</a>
    
    {{ include('campeonatos/_delete_form.html.twig') }}
{% endblock %}
