{% extends 'base.html.twig' %}

{% block title %}Mis Campeonatos{% endblock %}

{% block body %}
    <h4>Mis Campeonatos</h4>
<table id="campeonatos" class="table table-hover">
    <thead>
        <tr class="table-info">
            <th scope="col">CAMPEONATO</th>
            <th scope="col">JUEGO</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    {% if campeonatos %}
        {% for campeonato in campeonatos %}
            <tr class="table-primary">
                <td>{{campeonato.campeonatoNombre}}</td>
                <td>{{campeonato.juego}}</td>
                <td><a href="{{path('campeonato_info', {'id': campeonato.id})}}">Info.</a></td>
                <td><a class="btn btn-lg btn-primary" type="submit" href="{{ path('campeonatos_edit', {'id': campeonato.id}) }}">Editar</a></td>
                <td><a class="btn btn-lg btn-danger delete-campeonato" type="submit" href="{{ path('campeonatos_delete', {'id': campeonato.id}) }}">Borrar</a></td>
                <td></td>
            </tr>
        {% endfor %}
    {% else %}
        <p>No has creado ningún campeonato por ahora</p>
    {% endif %}
</table>

<h4>Campeonatos Inscrito</h4>

<table id="parcicipaciones" class="table table-hover">
    <thead>
        <tr class="table-info">
            <th scope="col">CAMPEONATO</th>
            <th scope="col">JUEGO</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    {% if participaciones %}
        {% if campeonatos %}
            {% for campeonato in participaciones %}
                <tr>
                    <td>{{campeonato.campeonatoNombre}}</td>
                    <td>{{campeonato.juego}}</td>
                    <td><a href="{{path('campeonato_info', {'id': campeonato.id})}}">Info.</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endif %}
    {% else %}
        <p>No estas inscrito ningún campeonato por ahora</p>
    {% endif %}
</table>

{% endblock %}